#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
    .navigation {
        position: fixed;
        width: calc(100% - 300px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #fff;
        padding: 15px 30px;
        border-bottom: 3px solid #594ef7;
        .login{
            a {
                color: #1a1c29;
                font-size: 18px;
                font-weight: 600;
                &:hover {
                    color: #594ef7;
                    transition: all 0.3s;
                }   
            }
        }
    }
}