#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
    .navigation {
        position: fixed;
        width: calc(100% - 300px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 15px 30px;
        border-bottom: 3px solid #594ef7;
        .n1{
            .search {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 14px;
                border: 1px solid #d7dbe6;
                border-radius: 4px;
                input {
                    font-size: 14px;
                }
                i {
                    margin-right: 14px;
                }
            }
        }
        .n2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .notification {
                position: relative;
                &-icon {
                    cursor: pointer;
                    margin-right: 20px;
                    position: relative;
                    i {
                        font-size: 19px;
                        font-weight: 400;
                    }
                    span {
                        position: absolute;
                        font-size: 13px;
                        background-color: #f00;
                        color: #fff;
                        padding: 2px;
                        left: 10px;
                        top: -10px;
                        border-radius: 50%;
                    }
                    &:hover i{
                        font-weight: 700;
                        transition: 0.3s ease;
                    }
                }
                &-box {
                    opacity: 0;
                    transition: 1s opacity, 250ms height;
                    visibility: hidden;
                    position: absolute;
                    width: 310px;
                    padding: 30px;
                    background-color: #222553;
                    border-radius: 10px;
                    top: 35px;
                    right: 10px;
                    transition: all 0.3s;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 16px;
                        height: 16px;
                        background-color: #222553;
                        border-top-left-radius: 30px;
                        top: -11px;
                        right: 19px;
                    }
                    h3 {
                        color: #dadada;
                        font-size: 18px;
                        margin-bottom: 4px;
                        font-weight: 500;
                        padding: 10px;
                        border-bottom: 1px solid #eee;
                        color: #828987;
                        span {
                            color: #f00;
                        }
                    }
                    .noti-item {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 15px 5px;
                        margin-bottom: 15px;
                        cursor: pointer;
                        &:last-child {
                            margin: 0;
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-right: 15px;
                        }
                        .noti-text {
                            h5 {
                                color: #dadada;
                            }
                            p {
                                color: #7d8193;
                            }
                        }
                    }

                }
            }
            .account {
                position: relative;
                &-avatar {
                    img {
                        display: block;
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 50%;
                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                }
                &-box {
                    opacity: 0;
                    transition: 1s opacity, 250ms height;
                    visibility: hidden;
                    position: absolute;
                    width: 310px;
                    padding: 30px;
                    background-color: #222553;
                    border-radius: 10px;
                    top: 40px;
                    right: 0;
                    transition: all 0.3s;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 16px;
                        height: 16px;
                        background-color: #222553;
                        border-top-left-radius: 30px;
                        top: -10px;
                        right: 19px;
                        // transition: rotate(45deg);
                    }
                    .profile {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                            user-select: none;
                        }
                        .info {
                            margin-left: 15px;
                            h3 {
                                color: #dadada;
                                font-size: 18px;
                                margin-bottom: 4px;
                            }
                            p {
                                color: #7d8193;
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                    }
                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 250px;
                        height: 53px;
                        color: #e5e5e5;
                        background-color: #1a1c29;
                        border-radius: 5px;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 30px;
                        transition: all 0.3s;
                        i {
                            margin-right: 5px;
                        }
                        &:hover {
                            background-color: #515677;
                        }
                    }
                    .function {
                        li {
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;
                            &:last-child {
                                margin: 0;
                            }
                            a {
                                color: #e5e5e5;
                                font-weight: 500;
                                font-size: 16px;
                            }
                            i {
                                color: #e5e5e5;
                                margin-right: 10px;
                            }
                        }

                    }
                }
            }
        }
    }

    .i-name{
        margin-top: 70px;
        color: #444a53;
        padding: 30px 30px 0 30px;
        font-size: 24px;
        font-weight: 700;
    }

    .tool-board {
        margin: 30px 30px 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .print {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0 12px;
            li {
                padding: 4px 6px;
                background-color: #fff;
                border-radius: 5px;
                &:hover a{
                    color: #594ef7;
                    transition: all 0.3s;
                }
                a {
                    color: #1a1c29;
                }
            }
        }
        .btn-add {
            display: flex;
            align-items: center;
            background-color: #323FAE;
            padding: 8px 14px;
            border-radius: 19px;
            color: #fff;
            font-size: 14px;
            i {
                margin-right: 10px;
            }
            a {
                color: #fff;
            }
        }
    }

    .search-table {
        margin: 30px 30px 0 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        div {
            display: flex;
            align-items: center;
            padding: 10px 14px;
            border: 1px solid #d7dbe6;
            border-radius: 19px;
            background-color: #fff;
            input {
                font-size: 14px;
            }
            i {
                margin-right: 14px;
            }
        }
    }

    .board {
        margin: 30px;
        overflow: hidden;
        background-color: #fff;
        border-radius: 8px;
        img {
            width: 45px;
            height: 45px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 15px;
        }
        h5 {
            font-weight: 600;
            font-style: 14px;
        }
        p {
            font-weight: 400;
            font-size: 13px;
            color: #787d8d;
        }
        .person {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: start;
        }
        table {
            border-collapse: collapse;
            tr {
                border-bottom: 1px solid #eef0f3;
            }
            thead {
                td {
                    font-style: 14px;
                    text-transform: capitalize;
                    font-weight: 400;
                    background-color: #f9fafb;
                    text-align: start;
                    padding: 15px;
                }
            }
            tbody {
                td {
                   padding: 10px 15px;
                }
                .status {
                    .active {
                        background-color: #107216;
                        padding: 2px 10px;
                        display: inline-block;
                        border-radius: 40px;
                        color: #fff;
                    }
                }
                .edit {
                    a {
                        font-size: 14px;
                        font-weight: 600;
                        color: #554cd1;
                    }
                }
                .delete {
                    a {
                        font-size: 14px;
                        font-weight: 600;
                        color: #f00;
                    }
                }
            }
        }
    }
}
