body {
    height: 100vh;
    overflow: hidden;
    background-color: #e5e7eb;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background-color: #fff;
        border-radius: 10px;
        padding: 0 48px;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;;
            border-bottom: 1px solid #dee2e6;
            img {
                margin-bottom: 16px;
            }
        }
        h1 {
            text-align: center;
            padding: 10px 0 20px 0;
            border-bottom: 1px solid #dee2e6;
            margin: 20px 0;
        }
        form {
            .text-container {
                position: relative;
                border-bottom: 2px solid #adadad;
                margin: 30px 0;
                input {
                    width: 100%;
                    padding: 0 5px;
                    height: 40px;
                    font-size: 16px;
                }
                input:focus ~ label, input:valid ~ label {
                    top: -5px;
                    font-weight: 600;
                }
                input:focus ~ span::before, input:valid ~ span::before {
                    width: 100%;;
                }
                label {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    font-size: 16px;
                    pointer-events: none;
                    transition: 0.5s;
                }
                span:before {
                    content: '';
                    position: absolute;
                    top: 40px;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background: #2691d9;
                }
            }
            .forgot {
                margin: -5px 0 20px 5px;
                cursor: pointer;
                color: #a6a6a6;
                &:hover {
                    text-decoration: underline;
                }
            }
            button {
                margin: 30px 0;
                width: 100%;
                height: 50px;
                border: 1px solid;
                background-color: #2691d9;
                border-radius: 25px;
                font-size: 18px;
                color: #e9f4fb;
                font-weight: 700;
                cursor: pointer;
                &:hover {
                    border-color: #2691d9;
                    transition: 0.5s;
                }
            }
        }
    }
}
