#menu {
    background-color: #1E2774;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .logo {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 30px 0 0 30px;
        img {
            width: 40px;
            margin-right: 15px;
        }
    }
    .items {
        margin-top: 40px;
        li {
            padding: 15px 0;
            transition: 0.3s ease;
            i {
                color: rgb(134, 141, 151);
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 14px;
                margin: 0 10px 0 25px;
            }
            a {
                color: rgb(134, 141, 151);
                font-weight: 400;
                transition: 0.3s ease;
            }
            &:hover{
                background-color: #253047;
                cursor: pointer;
            }
            &:hover i,&:hover a{
                color:#f3f4f6;

            }
            &:nth-child(1){
                border-left: 4px solid #fff;
            }
        }
    }
}